@import "definitions";
$navbarColor: white;
$numberOfSections: 3;

header {
    padding-top: 0.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $navbarColor;
    border-bottom: $firefly 1px solid;
    z-index: 1;   
    nav {
        max-width: 768px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3rem;
        padding-right: 2.5rem;
        margin: 0 auto;
        .logo {
            transform: translateY(4px);
            a {
                text-decoration: none;
                p {
                    color: $firefly;
                    font-family: $logoFont;
                    font-size: 3rem;
                    letter-spacing: -1.15rem;
                    margin: 0;
                }  
            }
            
        }
        .navMenu {
            background-color: $navbarColor;
            overflow: hidden;
            transition: height 250ms ease-in-out;
            padding: 0;
            list-style: none;
            margin: 0;

            @include breakpoint(mobileonly) {
            position: fixed;
            top: 55px;
            left:0;
            right:0;
            height: 0;    
            }
            @include breakpoint(tablet) {
                display: flex;
                height: 100%;
                justify-self: flex-end;
            }

  

            li {
                a {
                    color: $firefly;
                    font-weight: bold;
                    display: block;
                    font-family: $generalFont;
                    font-size: 1.25rem;
                    padding: 0.5rem;
                    text-decoration: none;
                    text-align: center;    
                    transition-duration: 400ms;
                }
                a:hover {
                    transform: scale(1.1);
                }    
            }
        }
        .show-links {
            height: calc(39px*3);
            border-bottom: 1px solid $firefly;


            @include breakpoint(mobileonly) {
                margin: 0 auto;
            }
            @include breakpoint(tablet) {
                height: auto;
                border-bottom: none;
            }
        }
        .hamburger-menu {
            border: none;
            background-color: transparent;
            cursor: pointer;

            @include breakpoint(tablet) {
                display: none;
            }
            .mobileMenu {
                width: 35px;
                height: 5px;
                background-color: $firefly;
                margin: 6px 0;
            }
        }
    }
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
    transform: rotate(-45deg) translate(-8px, 6px);
}
  
  /* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -8px) ;
    transform: rotate(45deg) translate(-9px, -8px);
}
