html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("/images/mobile-hero-bg.jpg");
  background-size: cover;
}

@media (min-width: 480px) {
  .hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .mobile-landing {
  margin: 2rem;
  margin-bottom: 8rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.hero .mobile-landing h2 {
  color: #0A1F23;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  margin: 0.25rem 0;
  display: inline;
  background-color: white;
  padding: 0 0.5rem;
}

@media (min-width: 480px) {
  .hero .mobile-landing {
    display: none;
  }
}

.hero .laptop-landing {
  margin: 2rem;
  margin-bottom: 8rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.hero .laptop-landing h2 {
  color: #0A1F23;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  margin: 0.25rem 0;
  display: inline;
  background-color: white;
  padding: 0 0.5rem;
}

@media (max-width: 479px) {
  .hero .laptop-landing {
    display: none;
  }
}

.projects {
  background: #658095;
  padding: 5rem 0 2rem;
  padding-bottom: 5rem;
  text-align: center;
}

.projects h1 {
  color: #0A1F23;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0 auto 1rem;
  margin-bottom: 4rem;
}

.projects .projectContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 480px) {
  .projects .projectContainer {
    width: 80%;
    margin: 0 auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .projects .projectContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects .projectContainer {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1281px) {
  .projects .projectContainer {
    width: 1100px;
  }
}

.projects .projectContainer .project-card {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #0A1F23;
}

@media (min-width: 480px) {
  .projects .projectContainer .project-card {
    width: 100%;
  }
}

.projects .projectContainer .project-card a {
  text-decoration: none;
}

.projects .projectContainer .project-card a img {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #0A1F23;
}

.projects .projectContainer .project-card a .title-box {
  margin: 0;
  background: #BFA985;
  color: #0A1F23;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  margin: -4px auto 0;
  padding: 1rem 0;
}

.projects .projectContainer .project-card a .title-box .project-title-decor {
  color: transparent;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.projects .projectContainer .project-card a:hover .project-title-decor {
  color: #880f0a;
}

.about {
  background: white;
  padding: 5rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h1 {
  color: #0A1F23;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #0A1F23;
  margin: 0 auto 4rem;
}

.about .container {
  max-width: 1100px;
}

@media (min-width: 768px) {
  .about .container {
    margin-left: 2rem;
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about .container .picture {
  width: 80%;
  max-width: 400px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 auto 3rem;
  border: 1px solid #0A1F23;
  background-image: url("/images/me-pic.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .about .container .picture {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.about .container .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 480px) {
  .about .container .divider {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about .container .divider p {
  color: #0A1F23;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #0A1F23;
  width: 80%;
  margin: 0 auto;
}

.about .container .divider a {
  color: #0A1F23;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: transparent;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 21rem;
  border: #0A1F23 1px solid;
  cursor: pointer;
  color: #0A1F23;
  text-decoration: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.about .container .divider a:hover {
  background: #0A1F23;
  color: white;
}

.contacts {
  padding: 5rem 0 2rem;
  background: #658095;
  width: 100%;
}

.contacts .container {
  margin: 2rem;
  margin-bottom: 5rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .container h2 {
  color: #0A1F23;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  margin: 0.25rem 2rem;
  display: inline;
  background-color: white;
  padding: 0 2rem;
}

.contacts .contact-icons {
  width: 80%;
  max-width: 600px;
  margin: 0 auto 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
}

.contacts .contact-icons .fa-linkedin,
.contacts .contact-icons .fa-github-square,
.contacts .contact-icons .fa-at {
  color: #0A1F23;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.contacts .contact-icons .fa-linkedin:hover {
  color: #0072B1;
}

.contacts .contact-icons .fa-github-square:hover {
  color: #f5f5f5;
}

.contacts .contact-icons .fa-at:hover {
  color: #F4B400;
}

footer {
  background: white;
  font-family: "Lato", sans-serif;
  padding: 0.5rem;
  text-align: center;
}

footer p {
  margin: 0;
}

@media (min-width: 426px) {
  .projectContainer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */