:root {
    --logoFont: 'Josefin Sans', sans-serif;
    --generalFont: 'Lato', sans-serif;
}


html {
    scroll-behavior: smooth;
}

/* body {
    
} */

.hero {
    height: 100vh;
    /* height: calc(100vh-55px); */
    width: 100vw;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    background: hsl(0, 0%, 75%);
}

.hero h2 {
    font-family: var(--generalFont);
    font-size: 3rem;
    /* font-size: calc(32px +(96-32)*((100vw-320px)/(768-320))); */
    width: 60%;
    margin: 2rem;
}