@import "definitions";
$textColor: $firefly;
$altTextColor: $indianKhaki;

@mixin generalTitle {
    color: $textColor;
    font-size: 2rem;
    font-family: $generalFont;
    font-weight: bold;
}
@mixin generalText {
    color: $textColor;
    font-size: 1.25rem;
    font-family: $generalFont;
}

@mixin sectionTopPadding {
    padding: 5rem 0 2rem;
}

@mixin hero-h2 {
    @include generalTitle;
    width: fit-content;
    font-size: 3rem;
    margin: 0.25rem 0;
    display: inline;
    background-color: white;
    padding: 0 0.5rem;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.hero {
    height: 100vh;
    width: 100%;
    padding-top: 3rem;  


    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @include breakpoint(tablet) {
        justify-content: center;
        align-items: center;
    }

    background-image: url("/images/mobile-hero-bg.jpg");
    background-size: cover;

    .mobile-landing {
        margin: 2rem;
        margin-bottom: 8rem;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        h2 {
            @include hero-h2;
        }
        @include breakpoint(tablet) {
            display: none;
        }
    }
    .laptop-landing {
        margin: 2rem;
        margin-bottom: 8rem;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        h2 {
            @include hero-h2;
        }
        @include breakpoint(mobileonly) {
            display: none;
        }

    }
}

.projects {
    background: $lynch;
    @include sectionTopPadding;
    padding-bottom: 5rem;
    text-align: center;
    h1 {
        @include generalTitle;
        margin: 0 auto 1rem;
        margin-bottom: 4rem;
    }
    .projectContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @include breakpoint(tablet) {
            width: 80%;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
        }
        @include breakpoint(laptop) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint(desktop) {
            grid-template-columns: repeat(4, 1fr);
        }
        @include breakpoint(wide) {
            width: 1100px;
        }
        

        .project-card {
            width: 80%;
            margin: 0 auto;
            border: 1px solid $firefly;
            @include breakpoint(tablet) {
                width: 100%;
            }
            a {
                text-decoration: none;
                img {
                    width: 100%;
                    border-bottom: 1px solid $firefly;
                }
                .title-box {
                    margin: 0;
                    background: $indianKhaki;
                    @include generalText;
                    margin: -4px auto 0;
                    padding: 1rem 0;
                    .project-title-decor {
                        color: transparent;
                        transition: 200ms;
                    }         
                }
            }
            a:hover .project-title-decor {
                color: #880f0a;
            }
        }
    }
}

.about {
    background: white;
    @include sectionTopPadding;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include generalTitle;
        color: $textColor;
        margin: 0 auto 4rem;
    }
    .container {
        max-width: 1100px;
        @include breakpoint(laptop) {
            margin-left: 2rem;
            margin-right: 2rem;
            display: flex;
        }
        .picture {
            width: 80%;
            max-width: 400px;
            aspect-ratio: 1;
            border-radius: 50%;
            margin: 0 auto 3rem;
            border: 1px solid $textColor;

            background-image: url("/images/me-pic.jpg");
            background-size: cover;
            background-position: 50% 50%;

            @include breakpoint(laptop) {
                flex: 1;
            }
        }
        .divider {
            display: flex;
            flex-direction: column;

            @include breakpoint(tablet) {
                flex: 1;
                justify-content: center;
            }

            p {
                @include generalText;
                color: $textColor;
                width: 80%;
                margin: 0 auto;
            }
            a {
                @include generalText;
                
                align-self: center;
                background: transparent;
                padding: 0.5rem 1rem;
                margin: 2rem auto;
                box-shadow: none;
                border-radius: 21rem;
                border: $textColor 1px solid;
                cursor: pointer;
                color: $textColor;
                text-decoration: none;
                transition: 200ms;
            }
            a:hover {
                background: $textColor;
                color: white;
            }
        }
    }
    
}

.contacts {
    @include sectionTopPadding;
    background: $lynch;
    width: 100%;

    .container {
        margin: 2rem;
        margin-bottom: 5rem;
        height: auto;
        display: flex;
        justify-content: center;
        h2 {
            @include generalTitle;
            width: fit-content;
            font-size: 3rem;
            margin: 0.25rem 2rem;
            display: inline;
            background-color: white;
            padding: 0 2rem;
        }
    }

    .contact-icons {
        width: 80%;
        max-width: 600px;
        margin: 0 auto 3rem;

        display: flex;
        justify-content: space-around;
        font-size: 3rem;

        .fa-linkedin,
        .fa-github-square,
        .fa-at {
            color: $textColor;
            transition: 200ms;
        }
        .fa-linkedin:hover {
            color: #0072B1;
        }
        .fa-github-square:hover {
            color: #f5f5f5;
        }
        .fa-at:hover {
            color: #F4B400;
        }
    }
    
}

footer {
    background: white;
    font-family: $generalFont;
    padding: 0.5rem;
    text-align: center;
    
    p {
        margin: 0;
    }
}

@media (min-width: 426px) {
    .projectContainer {
        grid-template-columns: 1fr 1fr;
    }
}